{{> header}}
{{> menu_container}}
{{> cart}}
{{> main_banner}}
{{> search}}
{{> category_show}}

<!-- {{#each products}}
  <div class="col-md-3 col-sm-6 product-list-item">
    <div class="panel panel-default">
      <div class="panel-body text-center product-body">
        <p>{{image}}</p>
        <p>{{name}}</p>
        <p>{{image_ids.[0]}}</p>
        <p>{{images.0.name}}</p>
      </div>
      <div class="panel-footer text-center">
        <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price">{{price}}</span>
        </span>
      </div>
    </div>
  </div>
{{/each}} -->
{{> footer}}