<div class="orders-container">
  <div class="row">
    <div class="col-md-4">Name <span class="pull-right">:</span></div>
    <div class="col-md-8 p-l-0">{{firstname}} {{lastname}}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Address 1 <span class="pull-right">:</span></div>
    <div class="col-md-8 p-l-0">{{address1}}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Address 2 <span class="pull-right">:</span></div>
    <div class="col-md-8 p-l-0">{{address2}}</div>
  </div>
  <div class="row">
    <div class="col-md-4">City <span class="pull-right">:</span></div>
    <div class="col-md-8 p-l-0">{{city}}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Phone <span class="pull-right">:</span></div>
    <div class="col-md-8 p-l-0">{{phone}}</div>
  </div>
  <div class="row">
    <div class="col-md-4">Postal Code <span class="pull-right">:</span></div>
    <div class="col-md-8 p-l-0">{{zipcode}}</div>
  </div>
</div>
