<div class="panel single-order-detail">
  <div class="panel-heading order-header" role="tab" id="heading_{{number}}">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{number}}" aria-expanded="true" aria-controls="collapse_{{number}}">
        {{number}}
      </a>
    </h4>
  </div>
  <div id="collapse_{{id}}" class="panel-collapse collapse {{#firstItem @index 'in'}}{{/firstItem}}" role="tabpanel" aria-labelledby="heading_{{id}}">
    <div class="panel-body">
      <ul>
        <li>
          <b>Date:</b> <span>{{#formatDate completed_at}}{{body}}{{/formatDate}}</span>
        </li>
        <li>
          <b>Status:</b> <span>{{state}}</span>
        </li>
        <li>
          <b>Payment State:</b> <span>{{payment_state}}</span>
        </li>
        <li>
          <b>Shipment State:</b> <span>{{shipment_state}}</span>
        </li>
        <li>
          <b>Total Items:</b> <span>{{item_count}}</span>
        </li>
        <li>
          <b>Total:</b> <span>${{total}}</span>
        </li>
      </ul>
      <a href="#order-{{number}}" class="btn-action btn-dark" data-toggle="modal">View Summary</a>
    </div>
  </div>
</div>
