<section class="category-section">
  <div class="container container-5px">
    <div class="row">
      <h3 class="decorated-heading">
        Selected Categories
      </h3>
      {{#each categoryName}}
        <div class="col-md-4 category-item">
        <a href={{#productCategoryUrl id}}{{body}}{{/productCategoryUrl}}>
            <p>
              <img src="../images/category_{{id}}.jpg" />
              <span class="category-name">{{name}}</span>
            </p>
           <!--  pretty name: {{pretty_name}}<br />
            ID: {{id}}<br />
            Parent ID: {{parent_id}} -->
        </a>
        </div>
      {{/each}}


      </ul>
    </div>
  </div>
</section>