<div class="show_page">
  {{> header}}
  <section class="category-section">
    <div class="container">
      {{#each products}}
        <div class="col-md-3 text-center col-5px">
          <div class="product-container">
            <p>
              <img src={{#productImageUrl image_ids ../images}}{{body}}{{/productImageUrl}} class="img-full">
            </p>
            <h3 class="product-name">
              <a href={{#productUrl id}}{{body}}{{/productUrl}}>{{name}}</a>
            </h3>
            <p>
              {{#each category_name}}
                <li>
                  {{name}} : {{value}}
                </li>
              {{/each}}
            </p>
            <div class="product-container-inner">
              <div class="product-options text-center">
                <p>
                  <a href="javascript:void(0);">
                    <i class="icons icon-shopping-cart"></i>
                  </a>
                  <a href="javascript:void(0);">
                    <i class="icons icon-favorite"></i>
                  </a>
                </p>
                <p class="product-price">{{price}}</p>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
  {{> recently_viewed}}
  {{> footer}}
</div>